jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: wimpysworld/nothing-but-nix@v6
      with:
        hatchet-protocol: rampage
        nix-permission-edict: true
    - name: Nix Installer
      uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
        install_options: --no-daemon
    - name: Cachix
      uses: cachix/cachix-action@v16
      with:
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        name: meowos
    - name: Update ${{ github.event.inputs.flake-input }}
      run: nix flake update --accept-flake-config ${{ github.event.inputs.flake-input
        }}
    - name: Build ${{ github.event.inputs.package }}
      run: |-
        for i in ${{ github.event.inputs.package }}; do
          nix build .#$i --print-build-logs --accept-flake-config
        done
    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        branch: main
        commit_author: Flake Bot Update <actions@github.com>
        commit_message: 'chore(deps): update ${{ github.event.inputs.flake-input }}'
        commit_user_name: Flake Bot Update
        file_pattern: flake.lock
        skip_dirty_check: false
        skip_fetch: true
  update-vps:
    needs:
    - build
    runs-on: ubuntu-latest
    steps:
    - if: ${{ inputs.vps-deploy == 'true' }}
      name: Deploy update to vps
      run: |-
        echo "${{ secrets.VPS_DEPLOY_SSH_KEY }}" > ~/deploykey
        chmod 600 ~/deploykey

        ssh -t -o BatchMode=yes -o StrictHostKeyChecking=accept-new -i ~/deploykey deploy@kotiboksi.xyz -p 69
name: Update and build packages
'on':
  workflow_dispatch:
    inputs:
      flake-input:
        description: Flake input(s) to update
        required: true
      package:
        description: Package(s) to build
        required: true
      vps-deploy:
        default: 'false'
        description: Should redeploy vps
        required: false
